certifi==2023.7.22
charset-normalizer==3.2.0
-e git+https://github.com/tfornal/co_monitor.git@f836c46c97388d5474c7b0982edbde2650c26584#egg=co_monitor
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
idna==3.4
kiwisolver==1.4.5
matplotlib==3.7.2
numpy==1.25.2
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
platformdirs==3.10.0
pooch==1.7.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
pyvista==0.42.0
requests==2.31.0
scipy==1.11.2
scooby==0.7.2
six==1.16.0
tzdata==2023.3
urllib3==2.0.4
vtk==9.2.6
